<a href="https://colab.research.google.com/github/hemil19/online-data-science-ml-challenges/blob/master/kaggle/Home_Credit_Default_Risk/Home_Credit_Default_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Submission by : Hemil Shah(D011)**

**Problem Statement - Home Credit Risk**

Many people struggle to get loans due to insufficient or non-existent credit histories. And, unfortunately, this population is often taken advantage of by untrustworthy lenders.

Home Credit strives to broaden financial inclusion for the unbanked population by providing a positive and safe borrowing experience. In order to make sure this underserved population has a positive loan experience, Home Credit makes use of a variety of alternative data--including telco and transactional information--to predict their clients' repayment abilities.

While Home Credit is currently using various statistical and machine learning methods to make these predictions, they're challenging Kagglers to help them unlock the full potential of their data. Doing so will ensure that clients capable of repayment are not rejected and that loans are given with a principal, maturity, and repayment calendar that will empower their clients to be successful.

Link Reference https://www.kaggle.com/c/home-credit-default-risk/

Approaches to predict the home credit risk

**LGBMClassifier (Ensemble Technique)**

***Leaderboard Accuracy***

Private Score: 0.77456

Public Score: 0.77385

**Reference Notebook:** https://github.com/bilalProgTech/mtech-data-science/blob/master/AISem3/CW/AI_Sem_3_A1_BilalHungund_D013.ipynb

In [ ]:
#!pip3 install kaggle

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/kaggle"

In [ ]:
%cd /content/gdrive/My Drive/kaggle

/content/gdrive/My Drive/kaggle

In [ ]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading POS_CASH_balance.csv.zip to /content/gdrive/My Drive/kaggle
 95% 103M/109M [00:00<00:00, 129MB/s]
100% 109M/109M [00:00<00:00, 124MB/s]
Downloading bureau_balance.csv.zip to /content/gdrive/My Drive/kaggle
 83% 47.0M/56.8M [00:00<00:00, 94.9MB/s]
100% 56.8M/56.8M [00:00<00:00, 95.4MB/s]
Downloading installments_payments.csv.zip to /content/gdrive/My Drive/kaggle
 98% 265M/271M [00:02<00:00, 116MB/s]
100% 271M/271M [00:02<00:00, 101MB/s]
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading bureau.csv.zip to /content/gdrive/My Drive/kaggle
 98% 36.0M/36.8M [00:00<00:00, 62.6MB/s]
100% 36.8M/36.8M [00:00<00:00, 65.8MB/s]
Downloading previous_application.csv.zip to /content/gdrive/My Drive/kaggle
100% 76.0M/76.3M [00:01<00:00, 46.1MB/s]
100% 76.3M/76.3M [00:01<00:00, 42.7MB/s]
Downloading application_train.csv.zip to /content/gdrive/My Drive/kaggle
 94% 34.0M/36.1M [00:00<00:00, 83.9MB/s]
100% 36.1M/36.1M [00:00<00:00, 81.5MB/s]
Downloading application_test.csv.zip to /content/gdrive/My Drive/kaggle
  0% 0.00/5.81M [00:00<?, ?B/s]
100% 5.81M/5.81M [00:00<00:00, 53.4MB/s]
Downloading credit_card_balance.csv.zip to /content/gdrive/My Drive/kaggle
 93% 90.0M/96.7M [00:02<00:00, 65.0MB/s]
100% 96.7M/96.7M [00:02<00:00, 43.5MB/s]

In [ ]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  POS_CASH_balance.csv.zip
replace POS_CASH_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau_balance.csv.zip
replace bureau_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  installments_payments.csv.zip
replace installments_payments.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau.csv.zip
replace bureau.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  previous_application.csv.zip
replace previous_application.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_train.csv.zip
replace application_train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_test.csv.zip
replace application_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  credit_card_balance.csv.zip
replace credit_card_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

8 archives were successfully processed.

In [ ]:
!ls

application_test.csv		    installments_payments.csv
application_train.csv		    kaggle.json
bureau_balance.csv		    POS_CASH_balance.csv
bureau.csv			    previous_application.csv
catboost_info			    sample_submission.csv
credit_card_balance.csv		    submission_rf.csv
HomeCredit_columns_description.csv

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
train=pd.read_csv('application_train.csv')
test=pd.read_csv('application_test.csv')
bureau=pd.read_csv('bureau.csv')
bureau_balance=pd.read_csv('bureau_balance.csv')
#credit_card_balance=pd.read_csv('credit_card_balance.csv')
#installments_payments=pd.read_csv('installments_payments.csv')
#previous_application=pd.read_csv('previous_application.csv')
#POS_CASH_balance=pd.read_csv('POS_CASH_balance.csv')

In [ ]:
train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [ ]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN
3      215354       5714465  ...                -16         NaN
4      215354       5714466  ...                -21         NaN

[5 rows x 17 columns]

In [ ]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [ ]:
bb_groupby=bureau_balance.groupby('SK_ID_BUREAU').agg({'MONTHS_BALANCE':'mean','STATUS':'count'})
bureau=pd.merge(bureau,bb_groupby.reset_index()).drop('AMT_CREDIT_MAX_OVERDUE',axis=1)
bureau.fillna(0,inplace=True)
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE  ... AMT_ANNUITY  MONTHS_BALANCE  STATUS
0      380361       5715448        Active  ...         0.0           -13.0      27
1      380361       5715449        Active  ...      2691.0            -5.5      12
2      380361       5715451        Closed  ...         0.0           -17.5      26
3      380361       5715452        Closed  ...         0.0           -16.0      33
4      380361       5715453        Closed  ...         0.0           -18.5      38

[5 rows x 18 columns]

In [ ]:
bureau.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE',
       'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY', 'MONTHS_BALANCE',
       'STATUS'],
      dtype='object')

In [ ]:
bureau_grouped=bureau.groupby(['SK_ID_CURR']).agg({'CREDIT_ACTIVE':'count', 'CREDIT_CURRENCY':'count',
       'DAYS_CREDIT':'mean', 'CREDIT_DAY_OVERDUE':'mean', 'DAYS_CREDIT_ENDDATE':'mean',
       'DAYS_ENDDATE_FACT':'mean', 'CNT_CREDIT_PROLONG':'mean',
       'AMT_CREDIT_SUM':'mean', 'AMT_CREDIT_SUM_DEBT':'mean', 'AMT_CREDIT_SUM_LIMIT':'mean',
       'AMT_CREDIT_SUM_OVERDUE':'mean', 'CREDIT_TYPE':'count', 'DAYS_CREDIT_UPDATE':'mean',
       'AMT_ANNUITY':'mean',
       'MONTHS_BALANCE':'mean',
       'STATUS':'sum'})
bureau_grouped.reset_index()
bureau_grouped.head()

            CREDIT_ACTIVE  CREDIT_CURRENCY  ...  MONTHS_BALANCE  STATUS
SK_ID_CURR                                  ...
100001                  7                7  ...      -11.785714     172
100002                  8                8  ...      -21.875000     110
100005                  3                3  ...       -3.000000      21
100010                  2                2  ...      -46.000000      72
100013                  4                4  ...      -28.250000     230

[5 rows x 16 columns]

In [ ]:
bureau_grouped.columns = [str('B_')+col for col in bureau_grouped.columns.values]
bureau_grouped.reset_index(inplace=True)
bureau_grouped.head()
#bureau bureau-balanced grouped

   SK_ID_CURR  B_CREDIT_ACTIVE  ...  B_MONTHS_BALANCE  B_STATUS
0      100001                7  ...        -11.785714       172
1      100002                8  ...        -21.875000       110
2      100005                3  ...         -3.000000        21
3      100010                2  ...        -46.000000        72
4      100013                4  ...        -28.250000       230

[5 rows x 17 columns]

In [ ]:
bureau_grouped.to_csv('bureau_grouped_saved.csv')

In [ ]:
bureau_grouped=pd.read_csv('bureau_grouped_saved.csv')
bureau_grouped.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
bureau_grouped.head()

   SK_ID_CURR  B_CREDIT_ACTIVE  ...  B_MONTHS_BALANCE  B_STATUS
0      100001                7  ...        -11.785714       172
1      100002                8  ...        -21.875000       110
2      100005                3  ...         -3.000000        21
3      100010                2  ...        -46.000000        72
4      100013                4  ...        -28.250000       230

[5 rows x 17 columns]

Preprocessing behavioural data of client
POS Cash Balance
Credit Card Balance
Installments Payments
Previous Application

In [ ]:
pos_cash_balance=pd.read_csv('POS_CASH_balance.csv')
pos_cash_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [ ]:
del pos_cash_balance

In [ ]:
pos_cash_balance_grouped=pos_cash_balance.groupby(['SK_ID_PREV','SK_ID_CURR']).agg({'MONTHS_BALANCE':'mean', 'CNT_INSTALMENT':'mean',
       'CNT_INSTALMENT_FUTURE':'mean', 'NAME_CONTRACT_STATUS':'count', 'SK_DPD':'mean',
       'SK_DPD_DEF':'mean'})
pos_cash_balance_grouped.columns = [str('POS_')+col for col in pos_cash_balance_grouped.columns.values]
pos_cash_balance_grouped.reset_index(inplace=True)
pos_cash_balance_grouped.head()

   SK_ID_PREV  SK_ID_CURR  ...  POS_SK_DPD  POS_SK_DPD_DEF
0     1000001      158271  ...         0.0             0.0
1     1000002      101962  ...         0.0             0.0
2     1000003      252457  ...         0.0             0.0
3     1000004      260094  ...         0.0             0.0
4     1000005      176456  ...         0.0             0.0

[5 rows x 8 columns]

In [ ]:
credit_card_balance=pd.read_csv('credit_card_balance.csv')
credit_card_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [ ]:
credit_card_balance.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [ ]:
cc_balance_grouped=credit_card_balance.groupby(['SK_ID_PREV','SK_ID_CURR']).agg({'MONTHS_BALANCE':'mean', 'AMT_BALANCE':'mean',
       'AMT_CREDIT_LIMIT_ACTUAL':'mean', 'AMT_DRAWINGS_ATM_CURRENT':'mean',
       'AMT_DRAWINGS_CURRENT':'mean', 'AMT_DRAWINGS_OTHER_CURRENT':'mean',
       'AMT_DRAWINGS_POS_CURRENT':'mean', 'AMT_INST_MIN_REGULARITY':'mean',
       'AMT_PAYMENT_CURRENT':'mean', 'AMT_PAYMENT_TOTAL_CURRENT':'mean',
       'AMT_RECEIVABLE_PRINCIPAL':'mean', 'AMT_RECIVABLE':'mean', 'AMT_TOTAL_RECEIVABLE':'mean',
       'CNT_DRAWINGS_ATM_CURRENT':'mean', 'CNT_DRAWINGS_CURRENT':'mean',
       'CNT_DRAWINGS_OTHER_CURRENT':'mean', 'CNT_DRAWINGS_POS_CURRENT':'mean',
       'CNT_INSTALMENT_MATURE_CUM':'mean', 'NAME_CONTRACT_STATUS':'count', 'SK_DPD':'mean',
       'SK_DPD_DEF':'mean'})
cc_balance_grouped.columns = [str('CC_')+col for col in cc_balance_grouped.columns.values]
cc_balance_grouped.reset_index(inplace=True)
cc_balance_grouped.head()

   SK_ID_PREV  SK_ID_CURR  ...  CC_SK_DPD  CC_SK_DPD_DEF
0     1000018      394447  ...        0.0            0.0
1     1000030      361282  ...        0.0            0.0
2     1000031      131335  ...        0.0            0.0
3     1000035      436351  ...        0.0            0.0
4     1000077      181153  ...        0.0            0.0

[5 rows x 23 columns]

In [ ]:
del credit_card_balance

In [ ]:
installment_payment=pd.read_csv('installments_payments.csv')
installment_payment.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [ ]:
installment_payment.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [ ]:
installment_payment_grouped=installment_payment.groupby(['SK_ID_PREV','SK_ID_CURR']).agg({'NUM_INSTALMENT_VERSION':'mean',
       'NUM_INSTALMENT_NUMBER':'mean', 'DAYS_INSTALMENT':'mean', 'DAYS_ENTRY_PAYMENT':'mean',
       'AMT_INSTALMENT':'mean', 'AMT_PAYMENT':'mean'})
installment_payment_grouped.columns = [str('IP_')+col for col in installment_payment_grouped.columns.values]
installment_payment_grouped.reset_index(inplace=True)
installment_payment_grouped.head()

   SK_ID_PREV  SK_ID_CURR  ...  IP_AMT_INSTALMENT  IP_AMT_PAYMENT
0     1000001      158271  ...       34221.712500    34221.712500
1     1000002      101962  ...        9308.891250     9308.891250
2     1000003      252457  ...        4951.350000     4951.350000
3     1000004      260094  ...        4789.022143     4789.022143
4     1000005      176456  ...       14703.210000    13365.609545

[5 rows x 8 columns]

In [ ]:
del installment_payment

In [ ]:
previous_application=pd.read_csv('previous_application.csv')
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [ ]:
previous_application = pd.merge(previous_application, installment_payment_grouped, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
previous_application = pd.merge(previous_application, cc_balance_grouped, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
previous_application = pd.merge(previous_application, pos_cash_balance_grouped, on=['SK_ID_CURR', 'SK_ID_PREV'], how='left')
print(previous_application.shape)

(1670214, 70)

In [ ]:
del installment_payment_grouped,cc_balance_grouped,pos_cash_balance_grouped

In [ ]:
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... POS_SK_DPD  POS_SK_DPD_DEF
0     2030495      271877  ...        0.0             0.0
1     2802425      108129  ...        0.0             0.0
2     2523466      122040  ...        0.0             0.0
3     2819243      176158  ...        0.0             0.0
4     1784265      202054  ...        NaN             NaN

[5 rows x 70 columns]

In [ ]:
numeric_columns=previous_application.select_dtypes(include=['number']).columns
categorical_columns=set(previous_application.columns)-set(numeric_columns)
len(numeric_columns)+len(categorical_columns)==len(previous_application.columns)

True

In [ ]:
#filling numerical values with mean
for i in numeric_columns:
  previous_application[i].fillna(previous_application[i].mean(),inplace=True)

In [ ]:
#filling categorical values with mode
for i in categorical_columns:
  previous_application[i].fillna(previous_application[i].mode()[0],inplace=True)

In [ ]:
#checking if there are any null values
previous_application.columns[previous_application.isnull().sum()>0]

Index([], dtype='object')

In [ ]:
previous_application.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL',
       'IP_NUM_INSTALMENT_VERSION', 'IP_NUM_INSTALMENT_NUMBER',
       'IP_DAYS_INSTALMENT', 'IP_DAYS_ENTRY_PAYMENT', 'IP_AMT_INSTALMENT',
       'IP_AMT_PAYMENT', 'CC_MONTHS_BALANCE', 'CC_AMT_BALANCE',
       'CC_AMT_CREDIT_LIMIT_ACTUAL', 'CC_AMT_DRAWINGS_ATM_CURRENT',
       'CC_AMT_DRAWINGS_CURRENT', 'CC_AMT_DRAWINGS_OTHER_CURRENT',
       'CC_AMT_DRAWINGS_POS_CURRENT', 'CC_AMT_INST_MIN_REGULARITY',
       'CC_AMT_PAYMENT_CURRENT', 'CC_AMT_PAYMENT_TOTAL_CURRENT',
       'CC_AMT_RECEIVABLE_PRINCIPAL', 'CC_AMT_RECIVABLE',
       'CC_AMT_TOTAL_RECEIVABLE', 'CC_CNT_DRAWINGS_ATM_CURRENT',
       'CC_CNT_DRAWINGS_CURRENT', 'CC_CNT_DRAWINGS_OTHER_CURRENT',
       'CC_CNT_DRAWINGS_POS_CURRENT', 'CC_CNT_INSTALMENT_MATURE_CUM',
       'CC_NAME_CONTRACT_STATUS', 'CC_SK_DPD', 'CC_SK_DPD_DEF',
       'POS_MONTHS_BALANCE', 'POS_CNT_INSTALMENT', 'POS_CNT_INSTALMENT_FUTURE',
       'POS_NAME_CONTRACT_STATUS', 'POS_SK_DPD', 'POS_SK_DPD_DEF'],
      dtype='object')

In [ ]:
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... POS_SK_DPD  POS_SK_DPD_DEF
0     2030495      271877  ...   0.000000        0.000000
1     2802425      108129  ...   0.000000        0.000000
2     2523466      122040  ...   0.000000        0.000000
3     2819243      176158  ...   0.000000        0.000000
4     1784265      202054  ...   0.966505        0.054126

[5 rows x 70 columns]

In [ ]:
previous_application.to_csv('previous_application_saved.csv')

In [ ]:
previous_application=pd.read_csv('previous_application_saved.csv')
previous_application.drop('Unnamed: 0',axis=1,inplace=True)
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... POS_SK_DPD  POS_SK_DPD_DEF
0     2030495      271877  ...   0.000000        0.000000
1     2802425      108129  ...   0.000000        0.000000
2     2523466      122040  ...   0.000000        0.000000
3     2819243      176158  ...   0.000000        0.000000
4     1784265      202054  ...   0.966505        0.054126

[5 rows x 70 columns]

In [ ]:
previous_application_grouped=previous_application.groupby('SK_ID_CURR').agg({'NAME_CONTRACT_TYPE':'count', 'AMT_ANNUITY':'mean',
       'AMT_APPLICATION':'mean', 'AMT_CREDIT':'mean', 'AMT_DOWN_PAYMENT':'mean', 'AMT_GOODS_PRICE':'mean',
       'WEEKDAY_APPR_PROCESS_START':'count', 'HOUR_APPR_PROCESS_START':'mean',
       'FLAG_LAST_APPL_PER_CONTRACT':'count', 'NFLAG_LAST_APPL_IN_DAY':'mean',
       'RATE_DOWN_PAYMENT':'mean', 'RATE_INTEREST_PRIMARY':'mean',
       'RATE_INTEREST_PRIVILEGED':'mean', 'NAME_CASH_LOAN_PURPOSE':'count',
       'NAME_CONTRACT_STATUS':'count', 'DAYS_DECISION':'mean', 'NAME_PAYMENT_TYPE':'count',
       'CODE_REJECT_REASON':'count', 'NAME_TYPE_SUITE':'count', 'NAME_CLIENT_TYPE':'count',
       'NAME_GOODS_CATEGORY':'count', 'NAME_PORTFOLIO':'count', 'NAME_PRODUCT_TYPE':'count',
       'CHANNEL_TYPE':'count', 'SELLERPLACE_AREA':'mean', 'NAME_SELLER_INDUSTRY':'count',
       'CNT_PAYMENT':'mean', 'NAME_YIELD_GROUP':'count', 'PRODUCT_COMBINATION':'count',
       'DAYS_FIRST_DRAWING':'mean', 'DAYS_FIRST_DUE':'mean', 'DAYS_LAST_DUE_1ST_VERSION':'mean',
       'DAYS_LAST_DUE':'mean', 'DAYS_TERMINATION':'mean', 'NFLAG_INSURED_ON_APPROVAL':'mean',
       'IP_NUM_INSTALMENT_VERSION':'mean', 'IP_NUM_INSTALMENT_NUMBER':'mean',
       'IP_DAYS_INSTALMENT':'mean', 'IP_DAYS_ENTRY_PAYMENT':'mean', 'IP_AMT_INSTALMENT':'mean',
       'IP_AMT_PAYMENT':'mean', 'CC_MONTHS_BALANCE':'mean', 'CC_AMT_BALANCE':'mean',
       'CC_AMT_CREDIT_LIMIT_ACTUAL':'mean', 'CC_AMT_DRAWINGS_ATM_CURRENT':'mean',
       'CC_AMT_DRAWINGS_CURRENT':'mean', 'CC_AMT_DRAWINGS_OTHER_CURRENT':'mean',
       'CC_AMT_DRAWINGS_POS_CURRENT':'mean', 'CC_AMT_INST_MIN_REGULARITY':'mean',
       'CC_AMT_PAYMENT_CURRENT':'mean', 'CC_AMT_PAYMENT_TOTAL_CURRENT':'mean',
       'CC_AMT_RECEIVABLE_PRINCIPAL':'mean', 'CC_AMT_RECIVABLE':'mean',
       'CC_AMT_TOTAL_RECEIVABLE':'mean', 'CC_CNT_DRAWINGS_ATM_CURRENT':'mean',
       'CC_CNT_DRAWINGS_CURRENT':'mean', 'CC_CNT_DRAWINGS_OTHER_CURRENT':'mean',
       'CC_CNT_DRAWINGS_POS_CURRENT':'mean', 'CC_CNT_INSTALMENT_MATURE_CUM':'mean',
       'CC_NAME_CONTRACT_STATUS':'mean', 'CC_SK_DPD':'mean', 'CC_SK_DPD_DEF':'mean',
       'POS_MONTHS_BALANCE':'mean', 'POS_CNT_INSTALMENT':'mean', 'POS_CNT_INSTALMENT_FUTURE':'mean',
       'POS_NAME_CONTRACT_STATUS':'mean', 'POS_SK_DPD':'mean', 'POS_SK_DPD_DEF':'mean'})
previous_application_grouped.columns = [str('PA_')+col for col in previous_application_grouped.columns.values]
previous_application_grouped.reset_index(inplace=True)
previous_application_grouped.head()

   SK_ID_CURR  PA_NAME_CONTRACT_TYPE  ...  PA_POS_SK_DPD  PA_POS_SK_DPD_DEF
0      100001                      1  ...       0.000000           0.000000
1      100002                      1  ...       0.000000           0.000000
2      100003                      3  ...       0.000000           0.000000
3      100004                      1  ...       0.000000           0.000000
4      100005                      2  ...       0.483253           0.027063

[5 rows x 69 columns]

In [ ]:
previous_application_grouped.isnull().sum()

SK_ID_CURR                      0
PA_NAME_CONTRACT_TYPE           0
PA_AMT_ANNUITY                  0
PA_AMT_APPLICATION              0
PA_AMT_CREDIT                   0
                               ..
PA_POS_CNT_INSTALMENT           0
PA_POS_CNT_INSTALMENT_FUTURE    0
PA_POS_NAME_CONTRACT_STATUS     0
PA_POS_SK_DPD                   0
PA_POS_SK_DPD_DEF               0
Length: 69, dtype: int64

In [ ]:
bureau_grouped.isnull().sum()

SK_ID_CURR                  0
B_CREDIT_ACTIVE             0
B_CREDIT_CURRENCY           0
B_DAYS_CREDIT               0
B_CREDIT_DAY_OVERDUE        0
B_DAYS_CREDIT_ENDDATE       0
B_DAYS_ENDDATE_FACT         0
B_CNT_CREDIT_PROLONG        0
B_AMT_CREDIT_SUM            0
B_AMT_CREDIT_SUM_DEBT       0
B_AMT_CREDIT_SUM_LIMIT      0
B_AMT_CREDIT_SUM_OVERDUE    0
B_CREDIT_TYPE               0
B_DAYS_CREDIT_UPDATE        0
B_AMT_ANNUITY               0
B_MONTHS_BALANCE            0
B_STATUS                    0
dtype: int64

In [ ]:
combine = train.append(test)
combine.shape, train.shape, test.shape

((356255, 122), (307511, 122), (48744, 121))

In [ ]:
combine = pd.merge(combine, bureau_grouped, how='left', on=['SK_ID_CURR'])
combine = pd.merge(combine, previous_application_grouped, how='left', on=['SK_ID_CURR'])
combine.shape, previous_application_grouped.shape, bureau_grouped.shape

((356255, 206), (338857, 69), (134542, 17))

In [ ]:
combine.isnull().sum()

SK_ID_CURR                          0
TARGET                          48744
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
                                ...
PA_POS_CNT_INSTALMENT           17398
PA_POS_CNT_INSTALMENT_FUTURE    17398
PA_POS_NAME_CONTRACT_STATUS     17398
PA_POS_SK_DPD                   17398
PA_POS_SK_DPD_DEF               17398
Length: 206, dtype: int64

In [ ]:
numeric_columns=combine.select_dtypes(include=['number']).columns
categorical_columns=set(combine.columns)-set(numeric_columns)
len(numeric_columns)+len(categorical_columns)==len(combine.columns)

True

In [ ]:
#filling numerical values with mean
for i in numeric_columns:
  if i!='TARGET':
    combine[i].fillna(combine[i].mean(),inplace=True)

In [ ]:
#filling categorical values with mode
for i in categorical_columns:
  combine[i].fillna(combine[i].mode()[0],inplace=True)

In [ ]:
#checking if there are any null values
combine.columns[combine.isnull().sum()>0]

Index(['TARGET'], dtype='object')

In [ ]:
combine.head()

   SK_ID_CURR  TARGET  ... PA_POS_SK_DPD PA_POS_SK_DPD_DEF
0      100002     1.0  ...      0.000000          0.000000
1      100003     0.0  ...      0.000000          0.000000
2      100004     0.0  ...      0.000000          0.000000
3      100006     0.0  ...      0.644337          0.036084
4      100007     0.0  ...      0.161084          0.009021

[5 rows x 206 columns]

In [ ]:
combine=pd.get_dummies(combine)

In [ ]:
combine.to_csv('combine_saved.csv')

In [ ]:
X = combine[combine['TARGET'].isnull()!=True].drop(['TARGET', 'SK_ID_CURR'], axis=1)
y = combine[combine['TARGET'].isnull()!=True]['TARGET'].reset_index(drop=True)

test = combine[combine['TARGET'].isnull()==True].drop(['TARGET','SK_ID_CURR'], axis=1)

X.shape, y.shape, test.shape

((307511, 328), (307511,), (48744, 328))

In [ ]:
del combine

Data Modelling

In [ ]:
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, roc_auc_score, log_loss
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier

err_as = []
err_rs = []
err_ps = []
err_roc = []
err_ll = []

y_pred_tot_lgm = []
features = X.columns
feature_importance_df = pd.DataFrame()

fold = StratifiedKFold(n_splits=5)
i = 1
for train_index, test_index in fold.split(X, y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMClassifier(max_depth=5,
                       learning_rate=0.05,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5,
                       random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict(x_val)
    prob_pred = m.predict_proba(x_val)[:,1]
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = features
    fold_importance_df["importance"] = m.feature_importances_
    fold_importance_df["fold"] = i + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    print("Fold ",i, " Accuracy: ",(accuracy_score(pred_y, y_val)))
    print("Fold ",i, " Recall: ",(recall_score(pred_y, y_val)))
    print("Fold ",i, " Precision: ",(precision_score(pred_y, y_val)))
    print("Fold ",i, " ROC AUC: ",(roc_auc_score(y_val, prob_pred)))
    print("Fold ",i, " Logloss: ",(log_loss(y_val, prob_pred)))
    print(confusion_matrix(pred_y, y_val))

    err_as.append(accuracy_score(pred_y, y_val))
    err_rs.append(recall_score(pred_y, y_val))
    err_ps.append(precision_score(pred_y, y_val))
    err_roc.append(roc_auc_score(y_val, prob_pred))
    err_ll.append(log_loss(y_val, prob_pred))

    pred_test = m.predict_proba(test)[:,1]
    i = i + 1
    y_pred_tot_lgm.append(pred_test)

Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.805439	training's binary_logloss: 0.231787	valid_1's auc: 0.772093	valid_1's binary_logloss: 0.241766
[400]	training's auc: 0.828867	training's binary_logloss: 0.222857	valid_1's auc: 0.775468	valid_1's binary_logloss: 0.240409
[600]	training's auc: 0.847258	training's binary_logloss: 0.215731	valid_1's auc: 0.775493	valid_1's binary_logloss: 0.240334
[800]	training's auc: 0.863369	training's binary_logloss: 0.209193	valid_1's auc: 0.775442	valid_1's binary_logloss: 0.240286
Early stopping, best iteration is:
[646]	training's auc: 0.8514	training's binary_logloss: 0.214052	valid_1's auc: 0.775802	valid_1's binary_logloss: 0.240217
Fold  1  Accuracy:  0.9204266458546737
Fold  1  Recall:  0.6047197640117994
Fold  1  Precision:  0.041289023162134945
Fold  1  ROC AUC:  0.7758024662858981
Fold  1  Logloss:  0.240216996089954
[[56404  4760]
 [  134   205]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.805046	training's binary_logloss: 0.231891	valid_1's auc: 0.772036	valid_1's binary_logloss: 0.242238
[400]	training's auc: 0.828829	training's binary_logloss: 0.222859	valid_1's auc: 0.776207	valid_1's binary_logloss: 0.240693
[600]	training's auc: 0.848557	training's binary_logloss: 0.215312	valid_1's auc: 0.777756	valid_1's binary_logloss: 0.240112
[800]	training's auc: 0.864692	training's binary_logloss: 0.208599	valid_1's auc: 0.778142	valid_1's binary_logloss: 0.239984
[1000]	training's auc: 0.877895	training's binary_logloss: 0.202645	valid_1's auc: 0.778245	valid_1's binary_logloss: 0.239976
Early stopping, best iteration is:
[960]	training's auc: 0.875127	training's binary_logloss: 0.203915	valid_1's auc: 0.778492	valid_1's binary_logloss: 0.239883
Fold  2  Accuracy:  0.9199375630060811
Fold  2  Recall:  0.5538057742782152
Fold  2  Precision:  0.042497482376636454
Fold  2  ROC AUC:  0.7784922709492652
Fold  2  Logloss:  0.23988293427322138
[[56367  4754]
 [  170   211]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.807195	training's binary_logloss: 0.231147	valid_1's auc: 0.76482	valid_1's binary_logloss: 0.244304
[400]	training's auc: 0.83089	training's binary_logloss: 0.222133	valid_1's auc: 0.76815	valid_1's binary_logloss: 0.243068
[600]	training's auc: 0.849034	training's binary_logloss: 0.21497	valid_1's auc: 0.769101	valid_1's binary_logloss: 0.242725
[800]	training's auc: 0.86515	training's binary_logloss: 0.208275	valid_1's auc: 0.769055	valid_1's binary_logloss: 0.242755
Early stopping, best iteration is:
[645]	training's auc: 0.852482	training's binary_logloss: 0.213538	valid_1's auc: 0.769107	valid_1's binary_logloss: 0.242702
Fold  3  Accuracy:  0.919531072160255
Fold  3  Recall:  0.5272108843537415
Fold  3  Precision:  0.03121852970795569
Fold  3  ROC AUC:  0.7691071275036474
Fold  3  Logloss:  0.24270186486794024
[[56398  4810]
 [  139   155]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.805775	training's binary_logloss: 0.231581	valid_1's auc: 0.771098	valid_1's binary_logloss: 0.242538
[400]	training's auc: 0.8303	training's binary_logloss: 0.222404	valid_1's auc: 0.773991	valid_1's binary_logloss: 0.241302
[600]	training's auc: 0.849239	training's binary_logloss: 0.215044	valid_1's auc: 0.775225	valid_1's binary_logloss: 0.240865
[800]	training's auc: 0.865126	training's binary_logloss: 0.208414	valid_1's auc: 0.775023	valid_1's binary_logloss: 0.240939
Early stopping, best iteration is:
[694]	training's auc: 0.856871	training's binary_logloss: 0.211872	valid_1's auc: 0.775444	valid_1's binary_logloss: 0.240781
Fold  4  Accuracy:  0.9197587070339176
Fold  4  Recall:  0.5421348314606742
Fold  4  Precision:  0.03887210473313192
Fold  4  ROC AUC:  0.7754442941508899
Fold  4  Logloss:  0.2407810284351162
[[56374  4772]
 [  163   193]]
Training until validation scores don't improve for 200 rounds.
[200]	training's auc: 0.805244	training's binary_logloss: 0.231763	valid_1's auc: 0.773477	valid_1's binary_logloss: 0.242186
[400]	training's auc: 0.829131	training's binary_logloss: 0.222719	valid_1's auc: 0.776881	valid_1's binary_logloss: 0.24071
[600]	training's auc: 0.84836	training's binary_logloss: 0.215186	valid_1's auc: 0.778268	valid_1's binary_logloss: 0.240191
[800]	training's auc: 0.863892	training's binary_logloss: 0.20884	valid_1's auc: 0.778218	valid_1's binary_logloss: 0.240107
Early stopping, best iteration is:
[610]	training's auc: 0.849294	training's binary_logloss: 0.214822	valid_1's auc: 0.778359	valid_1's binary_logloss: 0.240153
Fold  5  Accuracy:  0.919547331794088
Fold  5  Recall:  0.5255255255255256
Fold  5  Precision:  0.035246727089627394
Fold  5  ROC AUC:  0.7783588930640133
Fold  5  Logloss:  0.240152778011774
[[56379  4790]
 [  158   175]]

In [ ]:
test=pd.read_csv('application_test.csv')

In [ ]:
submission = pd.DataFrame()
submission['SK_ID_CURR'] = test['SK_ID_CURR']
submission['TARGET'] = np.mean(y_pred_tot_lgm, 0)
submission.head()

   SK_ID_CURR    TARGET
0      100001  0.030935
1      100005  0.121711
2      100013  0.025161
3      100028  0.033213
4      100038  0.155308

In [ ]:
submission.to_csv('submission_final.csv',index=False)